.filters{
    padding: 0px 25px 0px 25px;
    /// FILTRO POR PERSONAJES ////
    //======================================================
    &__character{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 7px;
        margin-bottom: 10px;
        @media (min-width:768px) {
            flex-direction: row; 
            justify-content: center;               
        }
    }
    &__title{
        font-size: 22px;
        color:var(--color-title1);
        font-family: 'pur';
        text-shadow: var(--color-shadow);
        @media (min-width: 768px) {
            margin-right: 7px;
            font-size: 35px;          
        }
    }
    &__box{
        padding: 2px 0px 1px 9px;
        font-size: 17px;
        border-radius: 5px;
        border: solid var(--border-input)2px;
        @media (min-width: 768px) {
            padding: 5px 0px 3px 9px;
            font-size: 20px;
            border: solid var(--border-input)3px;
        }
    }
    //// FILTRO POR CASA ////
    //======================================================
    
    &__home{
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (min-width:768px) {
               flex-direction: row;
               justify-content: center;
               margin-top: 20px;               
        }
    }
    //// FILTRO POR GENERO ////
    //======================================================
    
    &__gender{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    @media (min-width:768px) {
        margin-top: 40px;
        justify-content: space-evenly;
        }
    }
    
    &__titleGender{
        margin: 0px 8px 0px 4px;
        font-family: 'pur';
        color: var(--color-title1);
        text-shadow: var(--color-shadow);
        font-size: 20px;
        @media (min-width:768px) {
            font-size: 35px;
        }
    }
}

//// ICONOS GENERO ////
//======================================================

.icon{
    font-size: 35px;
}
.radio{
    transform: scale(1.5);
}
