$color-background: #1e1e1e;

@font-face{
    font-family: 'harry';
    src:url(/fonts/HARRYP__.TTF);
}
@font-face{
    font-family: 'lumos';
    src:url(/fonts/LUMOS.TTF);
}
@font-face{
    font-family: 'magic';
    src:url(/fonts/magic-school.one.ttf);
}
